.awards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; 
    width: auto; 
  }
  
  .award-card {
    background-color: #fff;
    border: 2px solid goldenrod; 
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: calc(25% - 20px);
    text-align: center; 
  }
  
  .award-card h3 {
    margin-top: 0; 
  }
  