<!-- Profile Section -->
<section class="profile-section auth-section">
    <h2>Profile</h2>
    <div class="profile-info">
      <div class="profile-field">
        <label for="username">Username:</label>
        <p>johndoe</p>
      </div>
      <div class="profile-field">
        <label for="email">Email:</label>
        <p>email@email.com</p>
      </div>
      <div class="profile-field">
        <label for="password">Password:</label>
        <p>******</p>
      </div>
    </div>
    <button>Edit Profile</button>
  </section>
  