<!-- Profile Section -->
<section class="profile-section auth-section">
  <h2>Profile</h2>
  <div class="profile-info">
    <ng-container *ngIf="!showEditMode">
      <div class="profile-field">
        <label for="username">Username:</label>
        <p>{{ profileDetails.username }}</p>
      </div>
      <div class="profile-field">
        <label for="email">Email:</label>
        <p>{{ profileDetails.email }}</p>
      </div>
      <button (click)="onToggle()">Edit Profile</button>
    </ng-container>
    <ng-container *ngIf="showEditMode">
      <form [formGroup]="form" (ngSubmit)="saveProfileHandle()">
        <div class="profile-field">
          <label for="username-edit">Username:</label>
          <input
            type="text"
            name="username"
            id="username-edit"
            [value]="profileDetails.username"
            formControlName="username"
          />
        </div>

        <ng-container *ngIf="form.get('username')?.touched">
          <p class="error" *ngIf="form.get('username')?.errors?.['required']">
            Username is required!
          </p>
          <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
            Username must be at least 6 characters!
          </p>
        </ng-container>

        <div class="profile-field">
          <label for="email-edit">Email:</label>
          <input
            type="text"
            name="email"
            id="email-edit"
            [value]="profileDetails.email"
            formControlName="email"
          />
        </div>

        <ng-container *ngIf="form.get('email')?.touched">
          <p class="error" *ngIf="form.get('email')?.errors?.['required']">
            Email is required!
          </p>
          <p class="error" *ngIf="form.get('email')?.errors?.['minlength']">
            Email must be at least 6 characters!
          </p>
        </ng-container>

        <div class="edit-button-container">
          <button class="cancel-button" (click)="onCancel($event)">Cancel</button>
          <button class="submit-button" [disabled]="form.invalid" [style]="{backgroundColor: form.invalid ? 'grey' : '#2980b9'}">Submit</button>
        </div>
      </form>
    </ng-container>
  </div>
</section>
