.movies-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin: 0 auto; 
    width: auto;
  }
  
  .movie-card {
    background-color: #fff;
    border: 2px solid #3498db; 
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: calc(25% - 20px); 
    text-align: center; 
  }
  
  .movie-card img {
    height: 200px;
    display: block; 
    margin: 0 auto; 
    border-radius: 4px;
  }
  
  h2{
    padding-left: 2.2em;
  }

  .awards-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin: 0 auto; 
    width: auto;
  }

  .award-card {
    background-color: #fff;
    border: 2px solid goldenrod;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: calc(25% - 20px); 
    text-align: center;
  }

  .award-card img {
    height: 200px;
    display: block; /* Ensure image fills container width */
    margin: 0 auto; /* Center image horizontally */
    border-radius: 4px;
  }

  .all-movies {
    background-color: #3498db;
    border: 2px solid #fff; 
    color: #fff;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: calc(25% - 20px); 
    display: block;
    margin: 0 auto; 
    font-size: 20px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .all-movies:hover {
    background-color: #fff;
    color: #3498db;
    border-color: #3498db;
  }

  .all-awards {
    background-color: goldenrod;
    color: #fff;
    border: 2px solid #fff; 
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: calc(25% - 20px); 
    display: block;
    margin: 0 auto; 
    font-size: 20px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .all-awards:hover {
    background-color: #fff;
    color: goldenrod;
    border-color: goldenrod;
  }