.movie-details {
  background-color: #fff;
  border: 2px solid #3498db;
  border-radius: 8px;
  margin: 10px auto;
  padding: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  max-width: 800px;
}

.movie-details img {
  height: 300px;
  border-radius: 4px;
  margin-right: 20px;
  padding-right: 50px;
  padding-left: 50px;

}

.movie-details .movie-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.button-container {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
}

.back-button{
  background-color: #3498db;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: auto;
  display: block;
  margin: 0 auto;
  font-size: 15px;
  transition: background-color 0.2s, color 0.2s;
  width: 10%;
}

.awards-button{
  background-color: #3498db;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: auto;
  display: block;
  margin: 0 auto;
  font-size: 15px;
  transition: background-color 0.2s, color 0.2s;
  width: 10%;
}

.home-button{
  background-color: #3498db;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: auto;
  display: block;
  margin: 0 auto;
  font-size: 15px;
  transition: background-color 0.2s, color 0.2s;
  width: 10%;
}

.back-button:hover{
  background-color: #fff;
  color: #3498db;
  border: 2px solid #3498db;
}

.awards-button:hover{
  background-color: #fff;
  color: #3498db;
  border: 2px solid #3498db;
}
.edit-button-container {
  display: flex;
  justify-content: space-between;
  width: 90%; /* Added */
}

.home-button:hover{
  background-color: #fff;
  color: #3498db;
  border: 2px solid #3498db;
}

.cancel-button{
  background-color: #3498db;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: auto;
  display: block;
  margin: 0 auto;
  font-size: 15px;
  transition: background-color 0.2s, color 0.2s;
  width: 40%;
}

.cancel-button:hover{
  background-color: #fff;
  color: #3498db;
  border: 2px solid #3498db;
}

.submit-button{
  background-color: #3498db;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: auto;
  display: block;
  margin: 0 auto;
  font-size: 15px;
  transition: background-color 0.2s, color 0.2s;
  width: 40%;
  
}

.submit-button:hover{
  background-color: #fff;
  color: #3498db;
  border: 2px solid #3498db;
}