<div class="button-container">
  <button routerLink="/movies" class="back-button">Back</button>
  <button routerLink="/home" class="home-button">Home</button>
  <button routerLink="/awards" class="awards-button">Awards</button>
</div>
<div *ngIf="movie" class="movie-details">
  <img src={{movie.posterUrl}} alt={{movie.name}}>
  <div class="movie-info">
    <h2>{{ movie.name }}</h2>
    <p>Year of Release: {{ movie.releaseYear }}</p>
    <p>Plot Summary: {{ movie.plotSummary }}</p>
    <p>Genre: {{ movie.genre.join(', ') }}</p>
    <p>Likes: {{ movie.likes }}</p>
    <p>Award Category: {{ movie.awardId.category }}</p>
    <p>Award Name: {{ movie.awardId.name }}</p>
    <p>Cast: {{ movie.cast.join(', ') }}</p>
    <p>Director's Username: {{ movie.userId.username }}</p>
    <p>Created At: {{ movie.created_at }}</p>
    <p>Updated At: {{ movie.updatedAt }}</p>
  </div>
</div>

